body {
  --font-color: #ee2906;
  min-width: 330px;
  min-height: 330px;
  background-color: blue;
  border: 2px solid red;
}

.container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .name-title {
    font-size: 26px;
    font-weight: bold;
    color: var(--font-color);
  }

  .text {
    font-size: 16px;
    color: var(--font-color);
    font-weight: bold;
  }

  .email {
    font-size: 16px;
    color: white;
    font-weight: bold;
  }
}